{% extends 'base.html' %}

{% block title %}contact{% endblock title %}

{% block body%}
    <div class="container-fluid px-0">
          <img src="https://source.unsplash.com/1200x400/?phone,contact" class="d-block w-100 mx-0" alt="...">
    <h1 class="text-center">Contact us</h1>
        <div class="container">
    <form>
        <div class="form-group">
            <label for="name">name</label>
            <input type="text" class="form-control" id="name" placeholder="Enter your name">
        </div>
    </form>
    </div>
    </div>
{% endblock body%}